<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608046945299-v40b75fnobpm0nkkgnajcahe4kodmjtd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608046945299-v40b75fnobpm0nkkgnajcahe4kodmjtd</string>
	<key>API_KEY</key>
	<string>AIzaSyCrnBuf23v6FYt_E_Wft1Mo6lzbj1-sj1g</string>
	<key>GCM_SENDER_ID</key>
	<string>608046945299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alphasonichd.AlphaMessenger</string>
	<key>PROJECT_ID</key>
	<string>alphamessenger-82df9</string>
	<key>STORAGE_BUCKET</key>
	<string>alphamessenger-82df9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608046945299:ios:24ff15098e2ed06cf5dbe6</string>
</dict>
</plist>